.temporizador{
  background-color: antiquewhite;
  height: 125px;
  padding: 3px 10px 10px;
  width: 40%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  margin: auto;
}

.faltante {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.countdown-item {
  text-align: center;
}

.countdown-value {
  font-size: 2rem;
  font-weight: bold;
  color: #333; /* Cambia el color según tus preferencias */
}

.countdown-label {
  font-size: 0.8rem;
  color: #777; /* Cambia el color según tus preferencias */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .temporizador {
    width: 80%; /* Cambiar el ancho al 100% en dispositivos móviles */
    border-radius: 0; /* Eliminar las esquinas redondeadas */
    height: 125px; /* Permitir que la altura se ajuste automáticamente */
    padding-bottom: 10px;
  }

  .countdown-item {
    flex: 1; /* Alinear los elementos horizontalmente en dispositivos móviles */
  }
}


