
<div class="temporizador">

    <div>
<h1>30 de Junio 2024</h1>
    </div>
    <div class="faltante">
        <div class="countdown-item">
            <span class="countdown-value">{{ days }}</span>
            <span class="countdown-label"> Días</span>
        </div>
        <span>:</span>
        <div class="countdown-item">
            <span class="countdown-value">{{ hours }}</span>
            <span class="countdown-label"> Horas</span>
        </div>
        <span>:</span>
        <div class="countdown-item">
            <span class="countdown-value">{{ minutes }}</span>
            <span class="countdown-label"> Minutos</span>
        </div>
    </div>
</div>
